@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=The+Nautigal:wght@700&display=swap');

:root{
  font-family:'Cormorant SC', serif;
  --shadow: rgba(0, 0, 0, 1) 2px 5px 10px;
}

html{
  height: 100%;
}

header{ 
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  box-shadow: var(--shadow);
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("photo.png");
  background-size: cover;
  margin: 0px;
}

.main-container{
  position: relative;
  margin-top: 70px;
  display: flex;
  flex-direction: column; 
  width: 100%;  
  align-items: center;
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.card{
  display: flex;
  background-color:rgb(217, 201, 182);
  border-radius: 5px;
  height: 12em;
  width: 40%;
  transition: 0.3s;
  flex-direction: column;
  position: relative;
  opacity: 0.9;
  box-shadow: var(--shadow);
}

.card > p{
  margin: 10px;
}


.delete-card-btn{
  position: absolute;
  margin-top: 10px;
  background-color:rgb(252, 76, 76);
  border: 0px;
  bottom: 0;
  width: 100%;
  height: 15%;
  opacity: 0.8;
  transition: 0.6;
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
}

button:hover{
  opacity: 1;
  transform: scale(1.05);
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color:rgb(243, 235, 215);
  border-radius: 5px;
  padding: 25px;
  box-shadow: var(--shadow);
  opacity: 0.99;
}

.formPopup{
  position: absolute;
  display: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 250px;

}

.formContainer > p{
  font-weight: bolder;
  margin: 0px;
}

.add{
  display: flex;
  justify-content: center;
}

#add-btn{
  margin-top: 30px;
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
}

#close, #submit{
  font-family: 'Cormorant SC', serif;
}

input[type="text"]::-webkit-input-placeholder {
  font-family: 'Cormorant SC', serif;
}